{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <style type="text/css">
        {% block style %}
        {% endblock style %}
    </style>
</head>
<body>
{% block body %}

{% endblock body %}
</body>
</html>